header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.main-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}
.wrapper-content {
    width: 100%;
}
.wrapper-nav {
    display: flex;
    justify-content: space-between;
    align-items: unset;
    position: relative;
    width: 100%;
}
.wrapper-nav  .logo {
    width: 150px;
    height: 50px;
    margin-left: 10px;    
}
.wrapper-nav .main-nav {
    width: 400px;
    height: auto;
    margin: 0;
    display: flex;
    align-items: center;
    padding-right: 95px;
    
}
nav ul {
    display: flex;
    justify-content: left;
    align-items: center;
    list-style-type: none !important;
}
nav a{   
    padding: 43px 35px 0px 25px;
    font-weight: 200;
    font-family: Raleway;
    text-decoration: none;
    color: #000000;  
    border-top: #ffffffff 1px solid;
    padding-top: 43px;
    justify-content: center;
}
nav a:hover {
    color:#0065FC; 
    border-top-color:#0065FC;
}
.wrapper-nav .sign-up {
    font-size: large;
    font-family: Raleway;
    Text-decoration: none;
    color: #0065FC;
    padding: 10px; 
    margin-left: 70px; 
    position: absolute;
    top: 3px;
    right:0;
    margin-right: 41px;
}
section {
    display:flex;
    flex-direction: column;
}
section .main-paragraph h2 {
    font-family: Raleway;
    color: #000000;
    padding-left: 35px;
}
section .main-paragraph p {
    font-weight: large;
    font-family: Raleway;
    color: #000000;
    padding-left: 35px;
}
.wrapper-search {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 15px 20px 20px 34px;
}
.wrapper-search .icon-search {
    padding: 23px;
    font-size: large;
    background-color: #f4f4f4;
    border-radius: 20px 0 0 20px;
}
.wrapper-search #search {
    padding: 19px;
    border-color: #f4f4f4;
    border-style: double; 
    font-family: Raleway;   
    font-weight: bold;
    font-size: large;
}
button {
    width: 92px;
    height: 62px;
    color: #ffffff;
    background-color: #0065FC;
    border: 20px;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 18px;
    font-family:raleway;
    border:2px;
}  
.wrapper-filters{
    display: flex;
    flex-direction: row; 
    justify-content: left;
    align-items: center;
    padding-left: 26px;
    width:100%;
}    
.wrapper-filters h3 {
    display:flex;
    flex-direction: row;
    align-items: left;
    font-family:raleway;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.icon-filter {
    display: flex;
    flex-direction: row;
    padding: 14px 14px 14px 14px;
    color: #0065FC;
    background-color: #DEEBFF;
    border: 3px solid #DEEBFF;
    border-radius: 80px;
    font-size: 20px;
}
.wrapper-filters .filter-text{
    display: flex;
    flex-direction:row;
    padding: 13px 33px 13px 32px;
    font-family: Raleway;
    font-weight: bold;
    border: 2px solid #f4f4f4;
    border-left: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-right: 20px;
    margin-left: -15px;
}
.icon-filter:hover{
    color:#f4f4f4;
    background-color: #0065FC;
}
.wrapper-filters .filter-text:hover{
    font-weight: lighter;  
    color: #0065fc;
    text-transform: uppercase;
}
.icon-filter-1 {
    display: flex;
    flex-direction: row;
    padding: 14px 14px 14px 14px;
    color: #0065FC;
    background-color: #DEEBFF;
    border: 3px solid #DEEBFF;
    border-radius: 80px;
    font-size: 20px;
}
.wrapper-filters .filter-text-1{
    display: flex;
    flex-direction:row;
    padding: 13px 33px 13px 32px;
    font-family: Raleway;
    font-weight: bold;
    border: 2px solid #f4f4f4;
    border-left: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-right: 20px;
    margin-left: -15px;
}
.icon-filter-1:hover{
    color:#f4f4f4;
    background-color: #0065FC;
}
.wrapper-filters .filter-text-1:hover{
    font-weight: lighter;  
    color: #0065fc;
    text-transform: uppercase;
}
.icon-filter-2 {
    display: flex;
    flex-direction: row;
    padding: 14px 14px 14px 14px;
    color: #0065FC;
    background-color: #DEEBFF;
    border: 3px solid #DEEBFF;
    border-radius: 80px;
    font-size: 20px;
}
.wrapper-filters .filter-text-2{
    display: flex;
    flex-direction:row;
    padding: 13px 33px 13px 32px;
    font-family: Raleway;
    font-weight: bold;
    border: 2px solid #f4f4f4;
    border-left: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-right: 20px;
    margin-left: -15px;
}
.icon-filter-2:hover{
    color:#f4f4f4;
    background-color: #0065FC;
}
.wrapper-filters .filter-text-2:hover{
    font-weight: lighter;  
    color: #0065fc;
    text-transform: uppercase;
}
.icon-filter-3 {
    display: flex;
    flex-direction: row;
    padding: 14px 14px 14px 14px;
    color: #0065FC;
    background-color: #DEEBFF;
    border: 3px solid #DEEBFF;
    border-radius: 80px;
    font-size: 20px;
}
.wrapper-filters .filter-text-3{
    display: flex;
    flex-direction:row;
    padding: 13px 33px 13px 32px;
    font-family: Raleway;
    font-weight: bold;
    border: 2px solid #f4f4f4;
    border-left: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-right: 20px;
    margin-left: -15px;
}
.icon-filter-3:hover{
    color:#f4f4f4;
    background-color: #0065FC;
}
.wrapper-filters .filter-text-3:hover{
    font-weight: lighter;  
    color: #0065fc;
    text-transform: uppercase;
}
.information{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 26px;
    width: 100%;
}
.information-icon{
    display: flex;
    flex-direction: row;
    padding: 7px 12px 7px 12px;
    color: #0065fc;
    border: 2px solid #f4f4f4;
    border-radius: 50px;
    margin: 20px;
}
.information p{
    font-family: Raleway;
}
article {
    display: flex;
}
.wrapper-accommodations{
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: #f4f4f4;
    margin-left: 31px;
    margin-right: 20px;
    padding-left: 40px;
    padding-right: 20px;
    border-radius: 20px;
    height: 674px;
}
.wrapper-accommodations-title{
    display:flex;
    width: 100%;
    align-items: left;
    font-family:raleway;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 20px;
}
.wrapper-accommodations .wrapper-cards-left {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.wrapper-accommodations .card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 4px;
    box-shadow: 2px 2px 2px 2px #c4c3c3;
    transition: 0.3s;
    border-radius: 20px;
    margin-right: 15px;
    margin-bottom: 30px;
   
}
.wrapper-accommodations .card .wrapper-hotel-img {
    width: 240px;
    height: 109px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.wrapper-accommodations .card .wrapper-hotel-img .preview-img {
    width: 100%;
    height: 115%;
}
.wrapper-accommodations .card .hotel-info {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    text-align: left;
    background-color: #ffffff;
    font-family: raleway;
    margin-left: 2px;
}
.wrapper-accommodations .card .hotel-info h4{
    padding: 2px;
    margin-top: 1px;
}
.wrapper-accommodations .card .hotel-info p{
    padding: 2px;
    margin-top: -20px;
}
.wrapper-accommodations .card .icon-stars-1{
    width: 100%;
    padding-bottom: 10px;
    color: #0065FC;
    background-color: #ffffff;
    margin-left: 6px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -6px;
}
#blackstar-1 {
    color: #f2f2f2;
}
#blackstar-2{
    color: #f2f2f2;
}
#blackstar-3{
    color: #f2f2f2;
}
#blackstar-4{
    color: #f2f2f2;
}
#blackstar-5{
    color: #f2f2f2;
}
.wrapper-accommodations .card:active{
    box-shadow: 4px 4px 4px 4px #c4c3c3;
}
.links{
    color: black;
    text-decoration: none;
}
.wrapper-dropdown-menu{
    display: flex;
    width: 100%;
    align-items: left;
    font-family:raleway;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 20px;
} 
.wrapper-most-popular {
    display: flex;
    flex-direction:column;
    align-content: center;
    justify-content: space-between;
    background-color: #f4f4f4;
    border-radius: 20px;
    margin-left: 11px;
    height: 674px; 
}
.wrapper-mini-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 7px;
    height: 100px;
    flex-wrap: wrap;
}
.most-popular-title h2 {
    font-family: raleway;
    padding-top: 15px; 
    
}
.icon-most-popular {
    height:100px;
    padding-top :40px;
    font-size: 20px;
}
.wrapper-most-popular .wrapper-cards{
    display:flex;
    flex-direction: column;
    justify-content: flex-start; 
    height: 700px;
    padding: 0 20px 0 20px;
    align-items: center;
}
.wrapper-most-popular .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 320px;
    height: 133px;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px #c4c3c3;
    transition: 0.3s;
    border-radius: 20px;
    margin-left: 2px; 
    padding: 2px;  
    justify-content: space-between;
}
.wrapper-most-popular .card-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 320px;
    height: 133px;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px #c4c3c3;
    transition: 0.3s;
    border-radius: 20px;
    margin-left: 7px; 
    padding: 2px;  
    
}
.wrapper-most-popular .card-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 320px;
    height: 133px;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px #c4c3c3;
    transition: 0.3s;
    border-radius: 20px;
    margin-left: 7px; 
    padding: 2px;  
    
}
.wrapper-most-popular  .wrapper-hotel-image{
    width:100%;
    height: 128px;
    overflow: hidden;
    border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px;
    padding-left: 2px; 
}
.wrapper-most-popular .hotel-img {
    border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px;
    width: 100%;
    height: 100%;
}    
.wrapper-most-popular .wrapper-hotel-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: -37px;
} 
.most-popular-title {
    height: 100px;
}
.wrapper-most-popular h4 {
    font-family: raleway;
    padding-left: 14px;
    margin-top: 14px;
    margin-bottom: 9px;
}
.wrapper-most-popular p {
    font-family: raleway;
    font-size: 14px;
    padding-left: 14px;
    padding-bottom:30px;
}
.wrapper-most-popular .icon-stars-1 {
    padding-left: 14px;
    color: #0065FC;
    font-size: x-small;
}
#first-group-stars {
    margin-top: -20px;
}
#second-group-stars {
    margin-top: -20px;
}    
#blackstar-6  {
    color: #f2f2f2;  
}
#blackstar-7 {
    color: #f2f2f2;
}
.wrapper-most-popular .card:active{
    box-shadow: 4px 4px 4px 4px #c4c3c3;
}
.wrapper-most-popular .card-2:active{
    box-shadow: 4px 4px 4px 4px #c4c3c3;
}
.wrapper-most-popular .card-3:active{
    box-shadow: 4px 4px 4px 4px #c4c3c3;
}        
.wrapper-most-popular .links-2{
    color: black;
    text-decoration: none;
    margin-bottom: 35px;
}
.wrapper-activities{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width:100%;
    padding-left: 5px;
    padding-bottom: 50px;
}
.activities-header {
   display:flex; 
   flex-direction: row;
   width: 100%;
}
.activities-header h2 {
    width: 100%;
    font-family: raleway;
    padding-top: 45px;
    padding-bottom: 15px;
    padding-left: 34px;
}
.wrapper-activities #Big-activity.card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #c4c3c3;
    transition: 0.3s;
}  
.wrapper-activities #Big-activity.card .wrapper-activities-img {
    width: 300px;
    height: 376px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.wrapper-activities #Big-activity.card .wrapper-activities-img .Activity-big-img {
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 20px; 
}
.wrapper-activities #Big-activity.card .wrapper-activity-info {
    height: 52px;
}
.wrapper-activities h4 {
    margin-left: 11px;
    margin-top:15px;
    font-family: raleway;
}

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper-activities #medium-activity.card {
    display: flex;
    flex-direction: column;
    height: 236px;
    width: 291px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #c4c3c3;
    transition: 0.3s;    
}
.wrapper-activities #medium-activity.card .wrapper-activities-img-2 {
    width: 291px;
    height: 376px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.wrapper-activities #medium-activity.card .wrapper-activities-img-2 .activity-medium-img-2 {
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 20px; 
}
.wrapper-activities #small-activity.card {
    display: flex;
    flex-direction: column;
    height: 152px;
    width: 291px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #c4c3c3;
    transition: 0.3s;     
}
.wrapper-activities #small-activity.card .wrapper-activities-img-3 {
    width: 291px;
    height: 376px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.wrapper-activities #small-activity.card .wrapper-activities-img-3 .activity-medium-img-3 {
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 20px; 
}
.wrapper-activities #Big-activity-2.card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #c4c3c3;
    transition: 0.3s;
}
.wrapper-activities #Big-activity-2.card .wrapper-activities-img {
    width: 300px;
    height: 376px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.wrapper-activities #Big-activity-2.card .wrapper-activities-img .Activity-big-img {
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 20px; 
}
.wrapper-activities #Big-activity-2.card .wrapper-activity-info {
    height: 52px;
}

.container-3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

.wrapper-activities #medium-activity-4.card {
    display: flex;
    flex-direction: column;
    height: 194px;
    width: 291px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #c4c3c3;
    transition: 0.3s;  
}
.wrapper-activities #medium-activity-4.card .wrapper-activities-img-4 {
    width: 291px;
    height: 376px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.wrapper-activities #medium-activity-4.card .wrapper-activities-img-4 .activity-medium-img-4 {
    flex-direction: column;
    background-color: #ffffff;
    border-top-right-radius: 20px; 
    border-top-left-radius: 20px;
}
.wrapper-activities #medium-activity-5.card {
    display: flex;
    flex-direction: column;
    height: 194px;
    width: 291px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #c4c3c3;
    transition: 0.3s;   
}
.wrapper-activities #medium-activity-5.card .wrapper-activities-img-5 {
    width: 291px;
    height: 376px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.wrapper-activities #medium-activity-5.card .wrapper-activities-img-5 .activity-medium-img-5 {
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 20px; 
}
.wrapper-activities #Big-activity.card:active{
    box-shadow: 4px 4px 4px 4px #c4c3c3;
} 
.wrapper-activities #medium-activity.card:active{
    box-shadow: 4px 4px 4px 4px #c4c3c3; 
}
.wrapper-activities #small-activity.card:active{
    box-shadow: 4px 4px 4px 4px #c4c3c3; 
}
.wrapper-activities #Big-activity-2.card:active{
    box-shadow: 4px 4px 4px 4px #c4c3c3; 
}    
.wrapper-activities #medium-activity-4.card:active{
    box-shadow: 4px 4px 4px 4px #c4c3c3; 
}   
.wrapper-activities #medium-activity-5.card:active{
    box-shadow: 4px 4px 4px 4px #c4c3c3; 
}      
footer {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
    align-content: space-around;
    background-color: #f4f4f4;
    padding-left: 11px;
}
footer .wrapper-footer { 
    display: flex;
    flex-direction: column;
    padding-right: 245px;
}
footer .wrapper-footer h4{
    font-family: raleway; 
    margin-left: 25px;  
}
footer .wrapper-footer ul li {
    font-family: raleway; 
    margin-left: -15px;
    text-decoration: none;
    list-style-type: none !important;
    padding-bottom: 15px;
}
footer .wrapper-footer ul li a {
    color: #000000;
    text-decoration: none;
    padding-bottom: 20px;
}
footer .wrapper-footer ul li a:hover{
    font-weight: lighter;  
    color: #0065fc;
}

@media screen and (max-width: 1337px) {

    .wrapper-accommodations{
       height: 908px;
    }

    .wrapper-most-popular {
        height: 908px; 
        justify-content: flex-start;
    }

    .wrapper-most-popular .wrapper-cards{
        justify-content: space-evenly;
    }
    footer .wrapper-footer { 
        padding-right: 196px;
    }
}

@media screen and (max-width: 1280px) {
        
    .wrapper-activities{
        align-content: space-around;
        flex-wrap: wrap;
        height: 690px;
    }
    .wrapper-activities #Big-activity.card {
        margin-right: 15px;
    }  
    .wrapper-activities #Big-activity.card .wrapper-activities-img {
        width: 317px;
        height: 184px;
    }
    .wrapper-activities #Big-activity.card .wrapper-activities-img .Activity-big-img {
        height: 100%;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        width: 100%;
    }
    .container-2 {
        flex-direction: row;
        width: 732px;
        margin-bottom: 20px;
    }
    .wrapper-activities #medium-activity.card {
        width: 317px   
    }
    .wrapper-activities #medium-activity.card .wrapper-activities-img-2 {
        width: 317px;
    }
    .wrapper-activities #small-activity.card {
        height: 236px;
        width: 317px;  
    }
    .wrapper-activities #small-activity.card .wrapper-activities-img-3 {
        width: 317px;
    }
    .wrapper-activities #small-activity.card .wrapper-activities-img-3 .activity-medium-img-3 {
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }    
    .wrapper-activities #Big-activity-2.card {
        margin-right: 15px; 
    }
    .wrapper-activities #Big-activity-2.card .wrapper-activities-img {
        width: 317px;
        height: 175px;
    }
    .wrapper-activities #Big-activity-2.card .wrapper-activities-img .Activity-big-img {
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .container-3{
        flex-direction: row;
        width: 732px;
    }
    .wrapper-activities #medium-activity-4.card {
        height: 227px;
        width: 317px;
    }
    .wrapper-activities #medium-activity-4.card .wrapper-activities-img-4 {
        width: 317px;
    }
    .wrapper-activities #medium-activity-4.card .wrapper-activities-img-4 .activity-medium-img-4{
        width: 107%;
    }
    .wrapper-activities #medium-activity-5.card {
        height: 227px;
        width: 317px; 
    }
    .wrapper-activities #medium-activity-5.card .wrapper-activities-img-5 {
        width: 317px;
    }
    .wrapper-activities #medium-activity-5.card .wrapper-activities-img-5 .activity-medium-img-5 {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        width: 115%;
    }
    footer .wrapper-footer { 
        padding-right: 110px;
    }  
}

    @media screen and (max-width: 1139px) {  
    .container-2{
        width: 683px;
    } 
    .container-3{
        width: 683px;
    } 
}

    @media screen and (max-width: 1074px) {
    .wrapper-accommodations .card .wrapper-hotel-img {
         width: 200px; 
    }
    .wrapper-activities{
        width: 100%;
        padding-left: 5px;
        padding-bottom: 50px;
        height: 690px;
    }
    .wrapper-activities #Big-activity.card {
        margin-bottom: 20px;
        margin-right: 15px;
    }  
    .wrapper-activities #Big-activity.card .wrapper-activities-img {
        width: 269px;
        height: 180px;
    }
    .wrapper-activities #Big-activity.card .wrapper-activities-img .Activity-big-img {
        height: 100%;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .wrapper-activities #Big-activity.card .wrapper-activity-info {
        height: 52px;
    }
    .container-2 {
        width: 612px;
        margin-bottom: 20px;
    }
    .wrapper-activities #medium-activity.card {
        height: 236px;
        width: 269px;   
    }
    .wrapper-activities #medium-activity.card .wrapper-activities-img-2 {
        width: 269px;
        height: 180px;
    }
    .wrapper-activities #medium-activity.card .wrapper-activities-img-2 .activity-medium-img-2 {
        border-radius: 20px; 
    }
    .wrapper-activities #small-activity.card {
        height: 236px;
        width: 269px;  
    }
    .wrapper-activities #small-activity.card .wrapper-activities-img-3 {
        width: 269px;
    }
    .wrapper-activities #small-activity.card .wrapper-activities-img-3 .activity-medium-img-3 {
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }    
    .wrapper-activities #Big-activity-2.card {
        margin-right: 15px;
        margin-left: 1px;  
    }
    .wrapper-activities #Big-activity-2.card .wrapper-activities-img {
        width: 269px;
        height: 180px;
    }
    .wrapper-activities #Big-activity-2.card .wrapper-activities-img .Activity-big-img {
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .wrapper-activities #Big-activity-2.card .wrapper-activity-info {
        height: 52px;
    }
    .container-3{
        width: 612px;
    }
    .wrapper-activities #medium-activity-4.card {
        height: 229px;
        width: 269px;
    }
    .wrapper-activities #medium-activity-4.card .wrapper-activities-img-4 {
        width: 269px;
        height: 180px;
    }
    .wrapper-activities #medium-activity-4.card .wrapper-activities-img-4 .activity-medium-img-4 {
        border-radius: 20px; 
    }
    .wrapper-activities #medium-activity-5.card {
        height: 227px;
        width: 269px; 
    }
    .wrapper-activities #medium-activity-5.card .wrapper-activities-img-5 {
        width: 269px;
        height: 376px;
    }
    .wrapper-activities #medium-activity-5.card .wrapper-activities-img-5 .activity-medium-img-5 {
        border-bottom-left-radius: 0px;
    }
}
        
    @media screen and (max-width: 1024px){
    .container-2{
            width: 597px;
        }
    .container-3{
            width: 597px;
    } 
} 

@media screen and (max-width: 940px) {
    article{
        display: flex;
        flex-wrap: wrap-reverse;
    /* width: 500px; */
        justify-content: center;
    }
    .wrapper-filters {
        display: flex;
        align-items: center;
        padding-left: 26px;
        width: 500px;
        flex-wrap: wrap;
        height: 274px;
    }
    .wrapper-filters h3 {
        align-self: flex-start;
        order: 1;
        margin-top:-25px;
    }
    .icon-filter {
        align-self: flex-end; 
        order: 2;
        margin-left: -87px;
    }
    .wrapper-filters .filter-text {
        align-self: flex-end; 
        order: 3;
    }
    .icon-filter-1 {
        align-self: center; 
        order: 6;
        margin-right: 35px;
        margin-top: -52px;
        margin-left: 9px;
    }
    .wrapper-filters .filter-text-1{
        align-self: center; 
        order: 7;
        margin-left: -52px;
        margin-top: -52px;
    }
    .icon-filter-2 {
        align-self: flex-end; 
        order: 4;
    }
    .wrapper-filters .filter-text-2{
        align-self: flex-end; 
        order: 5;
    }
    .icon-filter-3 {
        align-self: flex-end; 
        order: 8;
        margin-left: -244px;
    }
    .wrapper-filters .filter-text-3{
        align-self: flex-end; 
        order: 9;
    }
    .information-icon{
        margin-left: 22px;
        margin-top: 23px;
    }
    .information p {
        margin-top: 22px;
    }
    .wrapper-accommodations {
        height: 638px;
        margin-top:20px;
    }
    .wrapper-accommodations-title{
        padding-left: 0px;
    }
    .wrapper-most-popular {
        width: 647px;
        height: 820px;
        margin-bottom: 10px;
    }    
    .wrapper-mini-header {
        justify-content: space-between; 
    }
    .most-popular-title h2{
        padding-left: 30px;
    }
    .icon-most-popular{
        padding-right: 35px;
    }
    .wrapper-most-popular .card{
        width: 546px;
        height: 196px;
    }
    .wrapper-most-popular .wrapper-hotel-image {
        height: 189px;
    }
    .wrapper-most-popular .card-2{
        width: 546px;
        height: 196px;
    }
    .wrapper-most-popular .card-3{
        width: 546px;
        height: 196px;
    }
    .wrapper-activities {
        height: 900px;
    }
    .wrapper-activities #Big-activity.card{
        order:2;
        margin-right: -64px;
        margin-left: 28px;
    }
    .container-2{
        flex-direction: row;
        order:4;
        width:656px;

    }
    .wrapper-activities #Big-activity-2.card{
        order:3;
        
    }
    .container-3 {
        flex-direction: row;
        order:5;
        width: 656px;
    }
    footer .wrapper-footer{
        padding-right: 50px;
    }
    .wrapper-activities #Big-activity-2.card {
        margin-bottom: 20px;  
    }
}
    @media screen and (max-width: 836px) {

        .wrapper-accommodations {
            height: 870px; 
        }      
        .wrapper-activities #Big-activity.card {
            margin-right: -47px;
            margin-left: 15px;
        }
        .container-2{
            width:629px;
        }
        .container-3 {
            width: 629px;
}
    }
    @media screen and (max-width: 768px) {
        .wrapper-accommodations{
            margin-right: 24px;
            padding-left: 40px;
        }
        .wrapper-accommodations-title{
            margin-left: -2px;
        }
        .activities-header h2{
            padding-left: 64px;
        }
        .wrapper-activities #Big-activity.card{
            margin-left:19;
        }
        .container-2 {
            width: 585px;
        }   
        .wrapper-activities #Big-activity-2.card{
            margin-right: 14px;
        }
        .container-3 {
            width: 585px;
        }
        footer .wrapper-footer {
            padding-right: 10px;
    }
}
    @media screen and (max-device-width: 480px) {
        .header {
            height: 70px;
        }
        .wrapper-nav{
            height: 115px;
        }
        .wrapper-most-popular .card{
            width: 370px;
            height: 168px;
        }
        .wrapper-most-popular .wrapper-hotel-image {
            height: 163px;
        }
        .wrapper-most-popular .card-2{
            width: 370px;
            height: 168px;
        }
        .wrapper-most-popular .card-3{
            width: 370px;
            height: 168px;
        }
    }

